@import "tailwindcss";

/* globals.css */

/* globals.css */

body, html {
  min-height: 100vh;
  background: #070b42;
  color: white;
  position: relative;
  overflow: auto;
  scroll-behavior: smooth;
}

/* Stronger, tiled noise */
body::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('/cartographer.png');
  background-size: 350px 350px;
  opacity: 0.9;
  z-index: 0;
  pointer-events: none;
}
